{
  "presets": [
    [
      "env",
      {
        "useBuiltIns": true,
        "targets": {
          "browsers": ["last 2 versions", "ie >= 11"]
        },
        "exclude": ["transform-async-to-generator", "transform-regenerator"]
      }
    ]
  ],
  "plugins": [
    [
      "transform-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ]
  ],
  "env": {
    "test": {
      "presets": ["env"],
      "plugins": ["transform-object-rest-spread"]
    }
  }
}
